@{
    ViewData["Title"] = "Customer";
}

<style>
    .card {
        margin-bottom: 20px;
    }

    #IconButtonEdit{
      margin-left: 7px;
    }

    #IconButtonDel {
        margin-left: 7px;
    }
    #IconButtonRent{
        margin-left: 7px;
    }
    #mainheading{
        color: white;
    }
    #white{
        color: white;

    }

    .leftSpace{
        margin-left:2%;
    }
    .black{
        color:Black;
    }
 

 </style>      
<style type="text/css">
    @@media (max-width: 767px) {
        #mainheading {
            text-align: center;
        }

        .col-lg-2,
        .col-md-6,
        .col-12 {
            text-align: center;
            margin-bottom: 10px;
        }
        #startdate{
            margin-left: 0px;
        }
        .leftSpace {
            display: none;
        }
    }
    @@media (min-width: 992px) {
        #mainheading {
            text-align: left;
            color: white;
        }

        .col-lg-2,
        .col-md-6,
        .col-12 {
            text-align: left;
            margin-bottom: 0;
        }
        #startdate{
        margin-left: 20px;
        }
        .leftSpace {
            margin-left: 2%;
        }
    }

  
</style>
<div class="row">
    <div class="col-md-2">
        <h1>Customers</h1>
    </div>
</div>
<button class="btn btn-sm btn-primary m-2" id="addCustomerid" onclick="createCustomer();">+ New Customer</button>

<br /><br />
<div class="row" id="CustomerCardView">

    
</div>
<nav id="paginationContainer">
    <ul id="pagination" class="pagination justify-content-center"></ul>
</nav>
<!-- Modal for Rent Card -->
<div class="modal fade" id="createRentCardModal" tabindex="-1" role="dialog" aria-labelledby="createRentCardModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createRentCardModalLabel">Create Rent Card</h5>
              
                    @*<span aria-hidden="true">&times;</span>*@
               
            </div>
            <div class="modal-body">
                <form id="rentCardForm">
                    <div class="form-group">
                        <label for="_NameOfTenant">Name of Tenant</label>
                        <input type="text" class="form-control" id="_NameOfTenant" name="_NameOfTenant" >
                    </div><br />
                    <div class="form-group">
                        <label for="_BusinessPlace">Business Place</label>
                        <input type="text" class="form-control" id="_BusinessPlace" name="_BusinessPlace" >
                    </div><br />
                    <div class="form-group">
                        <label for="_ContactNo">Contact Number</label>
                        <input type="text" class="form-control" id="_ContactNo" name="_ContactNo" >
                    </div><br />
                    <div class="form-group">
                        <label for="_EmergencyName">Emergency Contact Name</label>
                        <input type="text" class="form-control" id="_EmergencyName" name="_EmergencyName" >
                    </div><br />
                    <div class="form-group">
                        <label for="_EmergencyTel">Emergency Contact Telephone</label>
                        <input type="text" class="form-control" id="_EmergencyTel" name="_EmergencyTel" >
                    </div><br />
                    <div class="form-group">
                        <label for="_NameOfLandlord">Name of Landlord</label>
                        <input type="text" class="form-control" id="_NameOfLandlord" name="_NameOfLandlord" >
                    </div><br />
                    <div class="form-group">
                        <label for="_AddressOfLandlord">Address of Landlord</label>
                        <input type="text" class="form-control" id="_AddressOfLandlord" name="_AddressOfLandlord" >
                    </div><br />
                    <div class="form-group">
                        <label for="_ContactOfLandlord">Contact of Landlord</label>
                        <input type="text" class="form-control" id="_ContactOfLandlord" name="_ContactOfLandlord" >
                    </div><br />
                    <div class="form-group">
                        <label for="_AgentName">Agent Name</label>
                        <input type="text" class="form-control" id="_AgentName" name="_AgentName" >
                    </div><br />
                    <div class="form-group">
                        <label for="_HouseNumber">House Number</label>
                        <input type="text" class="form-control" id="_HouseNumber" name="_HouseNumber" >
                    </div><br />
                    <div class="form-group">
                        <label for="_Locality">Locality</label>
                        <input type="text" class="form-control" id="_Locality" name="_Locality" >
                    </div><br />
                    <div class="form-group">
                        <label for="_TypeOfPremises">Type of Premises</label>
                        <input type="text" class="form-control" id="_TypeOfPremises" name="_TypeOfPremises" >
                    </div><br />
                    <div class="form-group">
                        <label for="_Commencement">Commencement Date</label>
                        <input type="date" class="form-control" id="_Commencement" name="_Commencement" >
                    </div><br />
                    <div class="form-group">
                        <label for="_RecoverableRent">Recoverable Rent</label>
                        <input type="text" class="form-control" id="_RecoverableRent" name="_RecoverableRent" >
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModalRent();">Close</button>
                <button type="button" class="btn btn-primary" id="createRentCardButton">Create Rent Card</button>
                <button class="btn btn-warning" id="UpdateCardBTN" onclick="updateRentCard();" style="display:none">Update</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade modal" id="createCustomerWindow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-info modal-title text-black" id="Customerheading">Add Customer</h1>
                <button type="button" class="btn-close" aria-label="Close" onclick="closeModal();"></button>
            </div>
            <div class="modal-body">
                <div>
                    <form>
                        <div class="form-group">
                            <label for="_popupName">Name:</label>
                            <input type="text" class="form-control" id="_popupName" name="_popupName"  />
                        </div><br />
                        <div class="form-group">
                            <label for="_popupGender">Gender:</label>
                            <input type="text" class="form-control" id="_popupGender" name="_popupGender" />
                        </div><br />

                        <div class="form-group">
                            <label for="_popupDateOfBirth">Date of Birth:</label>
                            <input type="date" class="form-control" id="_popupDateOfBirth" name="_popupDateOfBirth" />
                        </div><br /><div class="form-group">
                            <label for="_popupMaritalStatus">Marital Status:</label>
                            <input type="text" class="form-control" id="_popupMaritalStatus" name="_popupMaritalStatus" />
                        </div><br />

                        <div class="form-group">
                            <label for="_popupChildren">Children:</label>
                            <input type="number" class="form-control" id="_popupChildren" name="_popupChildren" />
                        </div><br /><div class="form-group">
                            <label for="_popupContactNo">Contact No:</label>
                            <input type="number" class="form-control" id="_popupContactNo" name="_popupContactNo" />
                        </div><br />
                        <div class="form-group">
                            <label for="_popupTenancyBegan">Tenancy Began:</label>
                            <input type="date" class="form-control" id="_popupTenancyBegan" name="_popupTenancyBegan" />
                        </div><br /><div class="form-group">
                            <label for="_popupNationality">Nationality:</label>
                            <input type="text" class="form-control" id="_popupNationality" name="_popupNationality" />
                        </div><br />
                        <div class="form-group">
                            <label for="_popupHomeTown">HomeTown:</label>
                            <input type="text" class="form-control" id="_popupHomeTown" name="_popupHomeTown" />
                        </div><br /><div class="form-group">
                            <label for="_popupOccupation">Occupation:</label>
                            <input type="text" class="form-control" id="_popupOccupation" name="_popupOccupation" />
                        </div>
                        <hr />
                        <h1>Mother's Details</h1>
                        <div class="form-group">
                            <label for="_popupMName">Name:</label>
                            <input type="text" class="form-control" id="_popupMName" name="_popupMName" />
                        </div><br />
                        <div class="form-group">
                            <label for="_popupMAddress">Address:</label>
                            <input type="text" class="form-control" id="_popupMAddress" name="_popupMAddress" />
                        </div><br />
                        <div class="form-group">
                            <label for="_popupMContactNo">Contact No:</label>
                            <input type="number" class="form-control" id="_popupMContactNo" name="_popupMContactNo" />
                        </div><br />
                        <div class="form-group">
                            <label for="_popupMOccupation">Occupation:</label>
                            <input type="text" class="form-control" id="_popupMOccupation" name="_popupMOccupation" />
                        </div>
                        <hr />
                        <h1>Father's Details</h1>
                        <div class="form-group">
                            <label for="_popupFName">Name:</label>
                            <input type="text" class="form-control" id="_popupFName" name="_popupFName" />
                        </div><br />
                        <div class="form-group">
                            <label for="_popupFAddress">Address:</label>
                            <input type="text" class="form-control" id="_popupFAddress" name="_popupFAddress" />
                        </div><br />
                        <div class="form-group">
                            <label for="_popupFContactNo">Contact No:</label>
                            <input type="number" class="form-control" id="_popupFContactNo" name="_popupFContactNo" />
                        </div><br />
                        <div class="form-group">
                            <label for="_popupFOccupation">Occupation:</label>
                            <input type="text" class="form-control" id="_popupFOccupation" name="_popupFOccupation" />
                        </div>
                        <hr />
                        <h1>Employee's Details</h1>
                        <div class="form-group">
                            <label for="_popupEName">Name:</label>
                            <input type="text" class="form-control" id="_popupEName" name="_popupEName" />
                        </div><br />
                        <div class="form-group">
                            <label for="_popupEAddress">Address:</label>
                            <input type="text" class="form-control" id="_popupEAddress" name="_popupEAddress" />
                        </div><br />
                        <div class="form-group">
                            <label for="_popupEContactNo">Contact No:</label>
                            <input type="number" class="form-control" id="_popupEContactNo" name="_popupEContactNo" />
                        </div><br />
                        <div class="form-group">
                            <label for="_popupEPosition">Position:</label>
                            <input type="text" class="form-control" id="_popupEPosition" name="_popupEPosition" />
                        </div>
                        <hr />
                        <h1>In Case Of Emergency Contact</h1>
                        <div class="form-group">
                            <label for="_popupUName">Name:</label>
                            <input type="text" class="form-control" id="_popupUName" name="_popupUName" />
                        </div><br />
                        <div class="form-group">
                            <label for="_popupUAddress">Address:</label>
                            <input type="text" class="form-control" id="_popupUAddress" name="_popupUAddress" />
                        </div><br />
                        <div class="form-group">
                            <label for="_popupUContactNo">Contact No:</label>
                            <input type="number" class="form-control" id="_popupUContactNo" name="_popupUContactNo" />
                        </div><br />
                        <div class="form-group">
                            <label for="_popupUOccupation">Occupation:</label>
                            <input type="text" class="form-control" id="_popupUOccupation" name="_popupUOccupation" />
                        </div><br />
                        <div class="form-group">
                            <label for="_popupURelation">Relation:</label>
                            <input type="text" class="form-control" id="_popupURelation" name="_popupURelation" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="AddCustomerBTN" onclick="saveCustomer();">Create</button>
                <button class="btn btn-warning" id="UpdateCustomerBTN" onclick="updateCustomer();" style="display:none">Update</button>
                <button class="btn btn-danger" id="CloseCustomerBTN" onclick="closeModal();" style="display:none">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        CustomerShow();
        $("#createRentCardButton").click(function () {
            var formData = {
                _NameOfTenant: $("#_NameOfTenant").val(),
                _BusinessPlace: $("#_BusinessPlace").val(),
                _ContactNo: $("#_ContactNo").val(),
                _EmergencyName: $("#_EmergencyName").val(),
                _EmergencyTel: $("#_EmergencyTel").val(),
                _NameOfLandlord: $("#_NameOfLandlord").val(),
                _AddressOfLandlord: $("#_AddressOfLandlord").val(),
                _ContactOfLandlord: $("#_ContactOfLandlord").val(),
                _AgentName: $("#_AgentName").val(),
                _HouseNumber: $("#_HouseNumber").val(),
                _Locality: $("#_Locality").val(),
                _TypeOfPremises: $("#_TypeOfPremises").val(),
                _Commencement: $("#_Commencement").val(),
                _RecoverableRent: $("#_RecoverableRent").val(),
                _CustomerId: customerid
            };

            $.ajax({
                url: "/RentCard/CreateRentCard", // Update with the actual controller and action names
                type: "POST",
                data: formData,
                success: function (response) {
                    // Handle success (e.g., show a success message)
                    console.log("Rent card created successfully.");
                    // Close the modal
                    $("#createRentCardModal").modal("hide");
                },
                error: function (error) {
                    // Handle error (e.g., show an error message)
                    console.error("Error creating rent card:", error);
                }
            });
        });
    });

    var customerid;
    var Totalrent;
    
    function createCustomerRent(id,rent) {
        customerid = id;
        Totalrent = rent;
        $.ajax({
            url: '/Customer/CardStatus?id=' + id,
            type: 'GET',

            success: function (data) {
                if (data === "Filled"){
                    alert("Rent Card already filled");
                }
                else{
                    cleartextboxRent(rent);
                    $('#createRentCardModal').modal('show');
                }
            },
            error: function () {
                // Handle error
            }
        });
        
    }
    function closeModalRent() {

        $('#createRentCardModal').modal('hide');
    }
    function cleartextboxRent(rent) {
        //$('#popupId').val('');
        $('#popupAmount').text("Amount : $" + rent+"/-");
        $('#popupPaymentType').val('');
        $('#popupPaymentDate').val('');
    }

    //Index Customer
    function CustomerShow() {
       
        $.ajax({
            url: '/Customer/CustomerIndex',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json;charset=utf-8;',
           
            success: function (result) {
                var object = '';
                var count = 0;
                $.each(result, function (index, item) {
                    object += '<div class="col-sm-3">';
                    object += '<div class="card">';
                    object += '<div class="card-body">';
                    object += '<div class="d-flex align-items-center">';
                    object += '<img src="/images/man.png" style="width: 30px; height: 30px;" />';
                    object += '<h5 class="card-title">'+ item._Name +'</h5>';
                    object += '</div>';
                    object += '<p class="card-text">' + item._Gender + '</p>';
                    object += '<a href="#" class="btn btn-primary" onclick="editRentCard(' + item._Id + ')"> Card </a>';
                    object += '<a href="#" id="IconButtonRent" class="btn btn-success" onclick="createCustomerRent(' + item._Id + ', ' + item._TotalRent + ')">$</a>';
                    object += '<a href="#" id="IconButtonEdit" class="btn btn-primary fa-solid" onclick="editCustomer(' + item._Id + ')"><i class="fa fa-pen" aria-hidden="true"></i></a>';
                    object += '<a href="#"  id="IconButtonDel" class="btn btn-danger fa-solid" onclick="deleteCustomer(' + item._Id + ' )"><i class="fa fa-trash" aria-hidden="true"></i></a>';
                    object += '</div>';
                    object += '</div>';
                    object += '</div>'; 
                    count++;
                });
                $('#CustomerCardView').html(object);
                if (count > 16) {
                    pagination();
                }
            },
            error: function () {
               
            }
        });
    }
    //Pagination
    function pagination() {
        var cards = $('.card');
        var cardsPerPage = 16; // Number of cards to show per page

        var totalCards = cards.length;
        if (totalCards <= cardsPerPage) {
            // No need for pagination if the total cards do not exceed the limit
            return;
        }

        var totalPages = Math.ceil(totalCards / cardsPerPage);

        // Clear existing pagination links
        $('#pagination').empty();

        for (var i = 1; i <= totalPages; i++) {
            $('#pagination').append('<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>');
        }

        // Show the first page by default
        showPage(1);

        // Handle click event on pagination links
        $('#pagination').on('click', 'li.page-item', function () {
            var pageNumber = $(this).text();
            showPage(pageNumber);
        });

        function showPage(pageNumber) {
            var startIndex = (pageNumber - 1) * cardsPerPage;
            var endIndex = startIndex + cardsPerPage;
            cards.hide().slice(startIndex, endIndex).show();

            // Update active state of pagination links
            $('#pagination li.page-item').removeClass('active');
            $('#pagination li.page-item:eq(' + (pageNumber - 1) + ')').addClass('active');
        }
    }
    //Create Customer

    $('#addCustomerid').click(function () {
        $('#AddCustomerBTN').show();
        $('#UpdateCustomerBTN').hide();
        $('#Customerheading').text('Add Customer');
        createCustomer();
    })

    function createCustomer() {
        cleartextbox();
        $('#createCustomerWindow').modal('show');
    }
    function createCustomerDetails() {
        $('#createCustomerWindowDetails').modal('show');
    }
    function closeModal() {
        $('#createCustomerWindow').modal('hide');
    }
    function closeModalDetails() {
        $('#createCustomerWindowDetails').modal('hide');
    }
    function cleartextbox() {
        //$('#popupId').val('');
        $('#popupName').val('');
        $('#popupAddress').val('');
        $('#popupContactNo').val('');
        $('#popupEmail').val('');
        $('#popupTotalRent').val('');
        $('#popuprentType').val('');
    }
    function saveRent() {

        var type = $('#popupPaymentType').val();
        var date = $('#popupPaymentDate').val();
        var duedate = $('#popupDueDate').val();
        // Check if any field is empty
        if (!date){
            alert('Please fill in all the fields.');
            return;
        }

        $.ajax({
            url: '/Rent/Create',
            type: 'POST',
            data: {
                _CustomerId: customerid,
                _Amount: Totalrent,
                _PaymentDate: date,
                _Type: type
               
            },
            success: function () {
                
            },
            error: function () {
                // Handle error
            }
        });
        $.ajax({
            url: '/Customer/UpdatethroughRent',
            type: 'POST',
            data: {
                id: customerid,
                Nextdate: duedate
            },
            success: function () {
                CustomerShow();
                closeModalRent();
            },
            error: function () {
                // Handle error
            }
        });
    }
    function saveCustomer() {
        var name = $('#_popupName').val();
        var gender = $('#_popupGender').val();
        var dateOfBirth = $('#_popupDateOfBirth').val();
        var maritalStatus = $('#_popupMaritalStatus').val();
        var children = $('#_popupChildren').val();
        var contactNo = $('#_popupContactNo').val();
        var tenancyBegan = $('#_popupTenancyBegan').val();
        var nationality = $('#_popupNationality').val();
        var homeTown = $('#_popupHomeTown').val();
        var occupation = $('#_popupOccupation').val();
        var mName = $('#_popupMName').val();
        var mAddress = $('#_popupMAddress').val();
        var mContactNo = $('#_popupMContactNo').val();
        var mOccupation = $('#_popupMOccupation').val();
        var eName = $('#_popupEName').val();
        var eAddress = $('#_popupEAddress').val();
        var eContactNo = $('#_popupEContactNo').val();
        var ePosition = $('#_popupEPosition').val();
        var fName = $('#_popupFName').val();
        var fAddress = $('#_popupFAddress').val();
        var fContactNo = $('#_popupFContactNo').val();
        var fOccupation = $('#_popupFOccupation').val();
        var uName = $('#_popupUName').val();
        var uAddress = $('#_popupUAddress').val();
        var uContactNo = $('#_popupUContactNo').val();
        var uOccupation = $('#_popupUOccupation').val();
        var relation = $('#_popupURelation').val();


            
        //if (!name || !gender || !dateOfBirth || !maritalStatus || !children || !contactNo || !tenancyBegan || !nationality || !homeTown || !occupation || !mName || !mAddress || !mContactNo || !mOccupation || !eName || !eAddress || !eContactNo || !ePosition || !fName || !fAddress || !fContactNo || !fOccupation || !uName || !uAddress || !uContactNo || !uOccupation || !relation || !address || !email || !TotalRent || !RentType) {
        //    alert('Please fill in all the fields.');
        //    return;
        //}

        $.ajax({
            url: '/Customer/Create',
            type: 'POST',
            data: {
                _Name: name,
                _Gender: gender,
                _DateOfBirth: dateOfBirth,
                _MaritalStatus: maritalStatus,
                _Children: children,
                _ContactNo: contactNo,
                _TenancyBegan: tenancyBegan,
                _Nationality: nationality,
                _HomeTown: homeTown,
                _Occupation: occupation,
                _MName: mName,
                _MAddress: mAddress,
                _MContactNo: mContactNo,
                _MOccupation: mOccupation,
                _EName: eName,
                _EAddress: eAddress,
                _EContactNo: eContactNo,
                _EPosition: ePosition,
                _FName: fName,
                _FAddress: fAddress,
                _FContactNo: fContactNo,
                _FOccupation: fOccupation,
                _UName: uName,
                _UAddress: uAddress,
                _UContactNo: uContactNo,
                _UOccupation: uOccupation,
                _URelation: relation
            },
            success: function () {
                cleartextbox();
                closeModal();
                CustomerShow();
            },
            error: function () {
                // Handle error
            }
        });
    }

    //Delete Customer
    function deleteCustomer(id) {
        if (confirm('Are you sure you want to remove this Customer?')) {
            $.ajax({
                url: '/Customer/Delete?id=' + id,
                success: function () {
                    CustomerShow();
                },
                error: function () {
                   
                }
            });
        }


    }
    function updateRentCard() {
        var id = $('#_popupId').val();
        var nameOfTenant = $('#_NameOfTenant').val();
        var businessPlace = $('#_BusinessPlace').val();
        var contactNo = $('#_ContactNo').val();
        var emergencyName = $('#_EmergencyName').val();
        var emergencyTel = $('#_EmergencyTel').val();
        var nameOfLandlord = $('#_NameOfLandlord').val();
        var addressOfLandlord = $('#_AddressOfLandlord').val();
        var contactOfLandlord = $('#_ContactOfLandlord').val();
        var agentName = $('#_AgentName').val();
        var houseNumber = $('#_HouseNumber').val();
        var locality = $('#_Locality').val();
        var typeOfPremises = $('#_TypeOfPremises').val();
        var commencement = $('#_Commencement').val();
        var recoverableRent = $('#_RecoverableRent').val();

        // Perform validation on the  fields
   

        // Assuming you have a formatDate function to convert the date format
        var formattedCommencement = commencement;

        $.ajax({
            url: '/RentCard/Update',
            type: 'POST',
            data: {
                _Id: id,
                _NameOfTenant: nameOfTenant,
                _BusinessPlace: businessPlace,
                _ContactNo: contactNo,
                _EmergencyName: emergencyName,
                _EmergencyTel: emergencyTel,
                _NameOfLandlord: nameOfLandlord,
                _AddressOfLandlord: addressOfLandlord,
                _ContactOfLandlord: contactOfLandlord,
                _AgentName: agentName,
                _HouseNumber: houseNumber,
                _Locality: locality,
                _TypeOfPremises: typeOfPremises,
                _Commencement: formattedCommencement,
                _RecoverableRent: recoverableRent
            },
            success: function () {
                // Perform actions on success
                closeModal(); // Close the modal
                // You might want to refresh your data or perform other actions
            },
            error: function () {
                // Handle error
            }
        });
    }

    //View Customer
    function viewCustomer(id) {
        $.ajax({
            url: '/Customer/Edit?id=' + id,
            type: 'GET',
            success: function (response) {
                createCustomerDetails();
                $('#popupIdDetails').text(response._id);
                $('#popupNameDetails').text('Name : ' + response._Name);
                $('#popupAddressDetails').text('Address : ' + response._Address);
                $('#popupContactNoDetails').text('Phone Number : ' + response._ContactNo);
                $('#popupEmailDetails').text('Email : ' + response._Email);
                $('#popupTotalRentDetails').text('Rent : $' + response._TotalRent+'/-');
                $('#popuprentTypeDetails').text('Rent Category : ' + response._TypeOfRent);
                $('#popupDueDateDetails').text('Due Date : ' + onlydate);
                
                //can work with both css and hide function---same result
                //$('#AddCustomerBTN').css('display','none');
                //$('#UpdateCustomerBTN').css('display', 'block');

                $('#AddCustomerBTN').hide();
                $('#UpdateCustomerBTN').hide();
                $('#CloseCustomerBTN').show();
                $('#Customerheading').text('Customer Information');
                CustomerShow();
            },
            error: function () {
            
            }
        });
    }
    function editRentCard(id) {
        // Fetch the rent card data by ID using AJAX and populate the form fields
        $.ajax({
            url: '/RentCard/Edit?id=' + id,
            type: 'GET',

            success: function (data) {
                $("#createRentCardModal").modal("show");
                $('#createRentCardButton').hide();
                $('#UpdateCardBTN').show();
                $("#createRentCardModalLabel").text("Edit Rent Card");
                $('#_NameOfTenant').val(data._NameOfTenant);
                $('#_BusinessPlace').val(data._BusinessPlace);
                $('#_ContactNo').val(data._ContactNo);
                $('#_EmergencyName').val(data._EmergencyName);
                $('#_EmergencyTel').val(data._EmergencyTel);
                $('#_NameOfLandlord').val(data._NameOfLandlord);
                $('#_AddressOfLandlord').val(data._AddressOfLandlord);
                $('#_ContactOfLandlord').val(data._ContactOfLandlord);
                $('#_AgentName').val(data._AgentName);
                $('#_HouseNumber').val(data._HouseNumber);
                $('#_Locality').val(data._Locality);
                $('#_TypeOfPremises').val(data._TypeOfPremises);
                $('#_Commencement').val((data._Commencement).split('T')[0]);
                $('#_RecoverableRent').val(data._RecoverableRent);

                // Show the modal
                
            },
            error: function () {
                alert("First Fill in the Rent Card");
            }
        });
    }
    //Edit Customer
    function editCustomer(id) {
        
        // Fetch the customer data by ID using AJAX and populate the form fields
        $.ajax({
            url: '/Customer/Edit?id=' + id,
            type: 'GET',

            success: function (data) {
                createCustomer();
                $('#AddCustomerBTN').hide();
                $('#UpdateCustomerBTN').show();
                $("#Customerheading").text("Edit/View Customer");
                $('#_popupId').val(data._Id);
                $('#_popupName').val(data._Name);
                $('#_popupGender').val(data._Gender);
                $('#_popupDateOfBirth').val((data._DateOfBirth).split('T')[0]);
                $('#_popupMaritalStatus').val(data._MaritalStatus);
                $('#_popupChildren').val(data._Children);
                $('#_popupContactNo').val(data._ContactNo);
                $('#_popupTenancyBegan').val((data._TenancyBegan).split('T')[0]);
                $('#_popupNationality').val(data._Nationality);
                $('#_popupHomeTown').val(data._HomeTown);
                $('#_popupOccupation').val(data._Occupation);
                $('#_popupMName').val(data._MName);
                $('#_popupMAddress').val(data._MAddress);
                $('#_popupMContactNo').val(data._MContactNo);
                $('#_popupMOccupation').val(data._MOccupation);
                $('#_popupEName').val(data._EName);
                $('#_popupEAddress').val(data._EAddress);
                $('#_popupEContactNo').val(data._EContactNo);
                $('#_popupEPosition').val(data._EPosition);
                $('#_popupFName').val(data._FName);
                $('#_popupFAddress').val(data._FAddress);
                $('#_popupFContactNo').val(data._FContactNo);
                $('#_popupFOccupation').val(data._FOccupation);
                $('#_popupUName').val(data._UName);
                $('#_popupUAddress').val(data._UAddress);
                $('#_popupUContactNo').val(data._UContactNo);
                $('#_popupUOccupation').val(data._UOccupation);
                $('#_popupURelation').val(data._URelation);
                // ... Populate other fields similarly// Assuming you have a showModal function
            },
            error: function () {
                // Handle error
            }
        });
    }

    function updateCustomer() {

        var id = $('#_popupId').val();
        var name = $('#_popupName').val();
        var gender = $('#_popupGender').val();
        var dateOfBirth = $('#_popupDateOfBirth').val();
        var maritalStatus = $('#_popupMaritalStatus').val();
        var children = $('#_popupChildren').val();
        var contactNo = $('#_popupContactNo').val();
        var tenancyBegan = $('#_popupTenancyBegan').val();
        var nationality = $('#_popupNationality').val();
        var homeTown = $('#_popupHomeTown').val();
        var occupation = $('#_popupOccupation').val();
        var mName = $('#_popupMName').val();
        var mAddress = $('#_popupMAddress').val();
        var mContactNo = $('#_popupMContactNo').val();
        var mOccupation = $('#_popupMOccupation').val();
        var eName = $('#_popupEName').val();
        var eAddress = $('#_popupEAddress').val();
        var eContactNo = $('#_popupEContactNo').val();
        var ePosition = $('#_popupEPosition').val();
        var fName = $('#_popupFName').val();
        var fAddress = $('#_popupFAddress').val();
        var fContactNo = $('#_popupFContactNo').val();
        var fOccupation = $('#_popupFOccupation').val();
        var uName = $('#_popupUName').val();
        var uAddress = $('#_popupUAddress').val();
        var uContactNo = $('#_popupUContactNo').val();
        var uOccupation = $('#_popupUOccupation').val();
        var uRelation = $('#_popupURelation').val();
        var email = $('#_popupEmail').val();
        var totalRent = $('#_popupTotalRent').val();
        var rentType = $('#_popupRentType').val();
      



        // Assuming you have a formatDate function to convert the date format
        var formattedDOB = formatDate(dateOfBirth);
        var formattedTenancyBegan = formatDate(tenancyBegan);

        $.ajax({
            url: '/Customer/Update',
            type: 'POST',
            data: {
                _Id: id,
                _Name: name,
                _Gender: gender,
                _DateOfBirth: formattedDOB,
                _MaritalStatus: maritalStatus,
                _Children: children,
                _ContactNo: contactNo,
                _TenancyBegan: formattedTenancyBegan,
                _Nationality: nationality,
                _HomeTown: homeTown,
                _Occupation: occupation,
                _MName: mName,
                _MAddress: mAddress,
                _MContactNo: mContactNo,
                _MOccupation: mOccupation,
                _EName: eName,
                _EAddress: eAddress,
                _EContactNo: eContactNo,
                _EPosition: ePosition,
                _FName: fName,
                _FAddress: fAddress,
                _FContactNo: fContactNo,
                _FOccupation: fOccupation,
                _UName: uName,
                _UAddress: uAddress,
                _UContactNo: uContactNo,
                _UOccupation: uOccupation,
                _URelation: uRelation,
                _Email: email,
                _TotalRent: totalRent,
                _RentType: rentType
                
            },
            success: function () {
                cleartextbox();
                CustomerShow();
                closeModal();
            },
            error: function () {
                // Handle error
            }
        });
    }

</script>